version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    container_name: postgres-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_USER: root
      POSTGRES_DB: mmxpdintegration
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  app:
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjsBackend
    ports:
      - '443:3000'
    restart: always
    depends_on:
        - db


